<launch>
  <node name="vision_system" pkg="vision_system" type="vision_system" respawn="false" output="screen">
      <remap from="/Camera/image" to="/Camera_Focus/image"/>
      <remap from="/MSER_Detector/image_thermal" to="/IRCamera/thermal_image"/>
      <remap from="/Face_Detector/image" to="/pic_sim/image_raw"/>
  </node>
</launch>
