<launch>
  <node name="pic_sim_comm" pkg="pic_sim" type="pic_sim_comm" respawn="false" output="screen">
      <remap from="/pic_sim_comm/status" to="/Matrix/link/0"/>
  </node>
  <node name="pic_sim_com" pkg="pic_sim" type="pic_sim_com" respawn="false" output="screen">
      <remap from="/pic_sim_com/status" to="/Matrix/link/1"/>
  </node>
</launch>
